/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

html {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

q, blockquote {
  quotes: none;
}
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

a img {
  border: none;
}

article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

body {
  background: #2472a4;
  font-family: Lato, "Microsoft YaHei", sans-serif;
}

.center {
  text-align: center;
}

.pp-section {
  color: #eef3f0;
  background: #2472a4;
}

h4 {
  font-size: 1.3em;
  margin: 5px 0;
}

h2 {
  font-size: 2em;
  border-bottom: 2px solid #fff;
  text-align: left;
  width: 200px;
  line-height: 2em;
}

.head {
  margin: 30px 0;
}
.head .title {
  font-size: 2.5em;
  line-height: 1em;
}

.area1 {
  background: url("../images/header.jpg") no-repeat center 20%;
  width: 100%;
  height: 100%;
  background-size: cover;
}
.area1 .me {
  width: 200px;
  height: 250px;
  border-radius: 50%;
  border: 10px solid #767071;
}
.area1 .title {
  font-size: 4em;
  text-shadow: 1px 2px #767071, 2px 4px #61595a;
  margin: 30px 0;
}
.area1 .description {
  font-size: 1.2em;
  margin: 10px 0;
  color: #cdcdcd;
}
.area1 .mail {
  color: #cdcdcd;
}

.area2 .post .item {
  margin-bottom: 20px;
}
.area2 .post .item-content {
  background-color: #20638f;
  border-radius: 6px;
  padding: 15px;
}
.area2 .post .item-content .logo {
  max-width: 80px;
  max-height: 80px;
  float: left;
  margin-right: 20px;
}
.area2 .post .item-content h3 {
  margin: 0;
  color: #fff;
  font-size: 24px;
}

.area3 h2 {
  margin-bottom: 30px;
}
.area3 .mine {
  text-align: left;
  line-height: 28px;
  padding: 0 0 15px;
}
.area3 .mine a {
  color: #223960;
}
.area3 .resume li {
  padding: 25px 0;
  text-align: left;
}
.area3 .resume li .icon {
  background-color: #FF851B;
  border: 3px solid #2980B9;
  border-radius: 100%;
  color: #fff;
  width: 30px;
  height: 30px;
  line-height: 24px;
  text-align: center;
  position: relative;
}
.area3 .resume li .icon .line {
  border-left: 3px solid #fff;
  position: absolute;
  height: 80px;
  top: -18px;
  z-index: -1;
  left: 10px;
}
.area3 .resume li .description {
  position: absolute;
  line-height: 28px;
  padding-left: 5px;
}

.area4 h3 {
  font-size: 1.8em;
  border-bottom: 2px solid #fff;
  max-width: 400px;
  line-height: 2em;
}
.area4 .content {
  text-align: left;
}
.area4 .pconline p, .area4 .dianjoy p {
  line-height: 28px;
}
.area4 .pconline a, .area4 .dianjoy a {
  color: #223960;
}
.area4 .pconline span, .area4 .dianjoy span {
  color: #223960;
}

.area5 p, .area6 p {
  line-height: 2em;
}
.area5 .descri1, .area5 .descri3, .area6 .descri1, .area6 .descri3 {
  font-size: 1.4em;
}
.area5 .descri2, .area6 .descri2 {
  font-size: 1.2em;
  color: #223960;
}
.area5 a, .area6 a {
  color: #223960;
}

/*# sourceMappingURL=screen.css.map */
