/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */

@import "compass/reset"

body
  background: #2472a4
  font-family: Lato,"Microsoft YaHei",sans-serif

.center
  text-align: center

.pp-section
  color: #eef3f0
  background: #2472a4

h4
  font-size: 1.3em
  margin: 5px 0

h2
  font-size: 2em
  border-bottom: 2px solid #fff
  text-align: left
  width: 200px
  line-height: 2em

.head
  margin: 30px 0
  .title
    font-size: 2.5em
    line-height: 1em

.area1
  background: url('../images/header.jpg') no-repeat center 20%
  width: 100%
  height: 100%
  background-size: cover
  .me
    width: 200px
    height: 250px
    border-radius: 50%
    border: 10px solid #767071
  .title
    font-size: 4em
    text-shadow: 1px 2px #767071,2px 4px #61595a
    margin: 30px 0
  .description
    font-size: 1.2em
    margin: 10px 0
    color: #cdcdcd
  .mail
    color: #cdcdcd

.area2
  .post
    .item
      margin-bottom: 20px
    .item-content
      background-color: #20638f
      border-radius: 6px
      padding: 15px
      .logo
        max-width: 80px
        max-height: 80px
        float: left
        margin-right: 20px
      h3
        margin: 0
        color: #fff
        font-size: 24px

.area3
  h2
    margin-bottom: 30px
  .mine
    text-align: left
    line-height: 28px
    padding: 0 0 15px
    a
      color: #223960

  .resume
    li
      padding: 25px 0
      text-align: left
      .icon
        background-color: #FF851B
        border: 3px solid #2980B9
        border-radius: 100%
        color: #fff
        width: 30px
        height: 30px
        line-height: 24px
        text-align: center
        position: relative
        .line
          border-left: 3px solid #fff
          position: absolute
          height: 80px
          top: -18px
          z-index: -1
          left: 10px
      .description
        position: absolute
        line-height: 28px
        padding-left: 5px

.area4
  h3
    font-size: 1.8em
    border-bottom: 2px solid #fff
    max-width: 400px
    line-height: 2em
  .content
    text-align: left
  .pconline,.dianjoy
    p
      line-height: 28px
    a
      color: #223960
    span
      color: #223960

.area5,.area6
  p
    line-height: 2em
  .descri1,.descri3
    font-size: 1.4em
  .descri2
    font-size: 1.2em
    color: #223960
  a
    color: #223960
