/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */

@import "compass/reset"

body
  background: #ebebeb

.main-header
  background: url('../images/header.jpg') no-repeat center 20%
  padding: 42px 0
  background-size: cover
  -webkit-background-size: cover
  .container
    height: 200px

.main-navigation
  margin-bottom: 35px

.post
  padding: 35px
  background: #ffffff
  margin-bottom: 35px
  .post-head
    text-align: center
    .post-title
      margin: 0 0 20px
      font-size: 2.5em
      line-height: 1em
  .post-content
    color: #ffffff
    .item
      margin-bottom: 20px
    .item-content
      background-color: #2472a4
      border-radius: 6px
      padding: 15px
      .logo
        max-width: 80px
        max-height: 80px
        float: left
        margin-right: 20px
      h3
        margin: 0
        color: #fff
        font-size: 24px
